$aniLen: 0.5s;
#header:hover #jar {
	-webkit-animation: jar1 $aniLen;
	animation: jar1 $aniLen;
	left: 2.25em;
}
#header:hover #u {
	-webkit-animation: u1 $aniLen;
	animation: u1 $aniLen;
	left: -2.75em;
}
#header:hover #is {
	-webkit-animation: is1 $aniLen;
	animation: is1 $aniLen;
	left: -2.5em;
}

#jar, #u, #is {
	position: relative;
	left: 0;
}

@keyframes jar1 {
	0%		{left: 0}
	25%		{left: 0}
	50%		{left: 2.25em}
	100%	{left: 2.25em}
}

@-webkit-keyframes jar1 {
	0%		{left: 0}
	25%		{left: 0}
	50%		{left: 2.25em}
	100%	{left: 2.25em}
}

@keyframes u1 {
	0%		{top: 0; left: 0}
	25%		{top: 1.25em}
	37.5%	{top: 1.25em; left: 0}
	62.5%	{top: 1.25em; left: -2.75em}
	87.5%	{top: 0; left: -2.75em}
	100%	{left: -2.75em}
}

@-webkit-keyframes u1 {
	0%		{top: 0; left: 0}
	25%		{top: 1.25em}
	37.5%	{top: 1.25em; left: 0}
	62.5%	{top: 1.25em; left: -2.75em}
	87.5%	{top: 0; left: -2.75em}
	100%	{left: -2.75em}
}

@keyframes is1 {
	0%		{left: 0}
	12.5%	{top: 0}
	37.5%	{top: -0.75em}
	50%		{top: -0.75em; left: 0}
	75%		{top: -0.75em; left: -2.5em}
	100%	{top: 0; left: -2.5em}
}

@-webkit-keyframes is1 {
	0%		{left: 0}
	12.5%	{top: 0}
	37.5%	{top: -0.75em}
	50%		{top: -0.75em; left: 0}
	75%		{top: -0.75em; left: -2.5em}
	100%	{top: 0; left: -2.5em}
}

@keyframes jar2 {
	0%		{left: 2.25em}
	50%		{left: 2.25em}
	75%		{left: 0}
	100%	{left: 0}
}

@-webkit-keyframes jar2 {
	0%		{left: 2.25em}
	50%		{left: 2.25em}
	75%		{left: 0}
	100%	{left: 0}
}

@keyframes u2 {
	0%		{left: -2.75em}
	12.5%	{top: 0; left: -2.75em}
	37.5%	{top: 1.25em; left: -2.75em}
	62.5%	{top: 1.25em; left: 0}
	75%		{top: 1.25em}
	100%	{top: 0; left: 0}
}

@-webkit-keyframes u2 {
	0%		{left: -2.75em}
	12.5%	{top: 0; left: -2.75em}
	37.5%	{top: 1.25em; left: -2.75em}
	62.5%	{top: 1.25em; left: 0}
	75%		{top: 1.25em}
	100%	{top: 0; left: 0}
}

@keyframes is2 {
	0%		{top: 0; left: -2.5em}
	25%		{top: -0.75em; left: -2.5em}
	50%		{top: -0.75em; left: 0}
	62.5%	{top: -0.75em}
	77.5%	{top: 0}
	100%	{left: 0}
}

@-webkit-keyframes is2 {
	0%		{top: 0; left: -2.5em}
	25%		{top: -0.75em; left: -2.5em}
	50%		{top: -0.75em; left: 0}
	62.5%	{top: -0.75em}
	77.5%	{top: 0}
	100%	{left: 0}
}