.dropzone {
	min-height: 0;
	width: initial;
	display: none;
	
	font: {
		family: 'Digital Tech';
		size: 1.5em;
		weight: 700;
	}
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	
	&.dz-clickable * {
		cursor: pointer;
	}
}

.fa-cloud-upload {
	font-size: 3em;
}

#pulldown {
	border: {
		color: black;
		style: solid;
		width: 2px;
		radius: 2px;
	}
	font-size: 1em;
	width: 1em;
	cursor: pointer;
	
	&:hover {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;
	}
}