@font-face {
	font-family: "Digital Tech";
	src: url("../resources/fonts/Digital Tech.otf") format("opentype");
	unicode-range: U+0031-0039;
}
@font-face {
	font-family: "Digital Tech";
	src: url("../resources/fonts/Digital Tech.otf") format("opentype");
	unicode-range: U+0041-005A;
}
@font-face {
	font-family: "Digital Tech";
	src: url("../resources/fonts/Digital Tech.otf") format("opentype");
	unicode-range: U+0061-007A;
}

@font-face {
	font-family: "Teio";
	src: url("../resources/fonts/Teio.ttf") format("truetype");
}