.dropzone {
  min-height: 0;
  width: initial;
  display: none;
  font-family: 'Digital Tech';
  font-size: 1.5em;
  font-weight: 700;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .dropzone.dz-clickable * {
    cursor: pointer; }

.fa-cloud-upload {
  font-size: 3em; }

#pulldown {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  font-size: 1em;
  width: 1em;
  cursor: pointer; }
  #pulldown:hover {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff; }

@font-face {
  font-family: "Digital Tech";
  src: url("/resources/fonts/Digital Tech.otf") format("opentype");
  unicode-range: U+0031-0039; }

@font-face {
  font-family: "Digital Tech";
  src: url("/resources/fonts/Digital Tech.otf") format("opentype");
  unicode-range: U+0041-005A; }

@font-face {
  font-family: "Digital Tech";
  src: url("/resources/fonts/Digital Tech.otf") format("opentype");
  unicode-range: U+0061-007A; }

@font-face {
  font-family: "Teio";
  src: url("/resources/fonts/Teio.ttf") format("truetype"); }

#header:hover #jar {
  -webkit-animation: jar1 0.5s;
  animation: jar1 0.5s;
  left: 2.25em; }

#header:hover #u {
  -webkit-animation: u1 0.5s;
  animation: u1 0.5s;
  left: -2.75em; }

#header:hover #is {
  -webkit-animation: is1 0.5s;
  animation: is1 0.5s;
  left: -2.5em; }

#jar, #u, #is {
  position: relative;
  left: 0; }

@keyframes jar1 {
  0% {
    left: 0; }

  25% {
    left: 0; }

  50% {
    left: 2.25em; }

  100% {
    left: 2.25em; } }

@-webkit-keyframes jar1 {
  0% {
    left: 0; }

  25% {
    left: 0; }

  50% {
    left: 2.25em; }

  100% {
    left: 2.25em; } }

@keyframes u1 {
  0% {
    top: 0;
    left: 0; }

  25% {
    top: 1.25em; }

  37.5% {
    top: 1.25em;
    left: 0; }

  62.5% {
    top: 1.25em;
    left: -2.75em; }

  87.5% {
    top: 0;
    left: -2.75em; }

  100% {
    left: -2.75em; } }

@-webkit-keyframes u1 {
  0% {
    top: 0;
    left: 0; }

  25% {
    top: 1.25em; }

  37.5% {
    top: 1.25em;
    left: 0; }

  62.5% {
    top: 1.25em;
    left: -2.75em; }

  87.5% {
    top: 0;
    left: -2.75em; }

  100% {
    left: -2.75em; } }

@keyframes is1 {
  0% {
    left: 0; }

  12.5% {
    top: 0; }

  37.5% {
    top: -0.75em; }

  50% {
    top: -0.75em;
    left: 0; }

  75% {
    top: -0.75em;
    left: -2.5em; }

  100% {
    top: 0;
    left: -2.5em; } }

@-webkit-keyframes is1 {
  0% {
    left: 0; }

  12.5% {
    top: 0; }

  37.5% {
    top: -0.75em; }

  50% {
    top: -0.75em;
    left: 0; }

  75% {
    top: -0.75em;
    left: -2.5em; }

  100% {
    top: 0;
    left: -2.5em; } }

@keyframes jar2 {
  0% {
    left: 2.25em; }

  50% {
    left: 2.25em; }

  75% {
    left: 0; }

  100% {
    left: 0; } }

@-webkit-keyframes jar2 {
  0% {
    left: 2.25em; }

  50% {
    left: 2.25em; }

  75% {
    left: 0; }

  100% {
    left: 0; } }

@keyframes u2 {
  0% {
    left: -2.75em; }

  12.5% {
    top: 0;
    left: -2.75em; }

  37.5% {
    top: 1.25em;
    left: -2.75em; }

  62.5% {
    top: 1.25em;
    left: 0; }

  75% {
    top: 1.25em; }

  100% {
    top: 0;
    left: 0; } }

@-webkit-keyframes u2 {
  0% {
    left: -2.75em; }

  12.5% {
    top: 0;
    left: -2.75em; }

  37.5% {
    top: 1.25em;
    left: -2.75em; }

  62.5% {
    top: 1.25em;
    left: 0; }

  75% {
    top: 1.25em; }

  100% {
    top: 0;
    left: 0; } }

@keyframes is2 {
  0% {
    top: 0;
    left: -2.5em; }

  25% {
    top: -0.75em;
    left: -2.5em; }

  50% {
    top: -0.75em;
    left: 0; }

  62.5% {
    top: -0.75em; }

  77.5% {
    top: 0; }

  100% {
    left: 0; } }

@-webkit-keyframes is2 {
  0% {
    top: 0;
    left: -2.5em; }

  25% {
    top: -0.75em;
    left: -2.5em; }

  50% {
    top: -0.75em;
    left: 0; }

  62.5% {
    top: -0.75em; }

  77.5% {
    top: 0; }

  100% {
    left: 0; } }

html {
  width: 100%;
  //height: 100%;
  margin: 0;
  padding: 0; }

body {
  text-align: center;
  font-family: 'Digital Tech';
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 5%;
  color: lime;
  background-color: black;
  letter-spacing: 2px;
}

#headerDiv {
  margin: 0 auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
  font-family: Teio;
  padding: 1em;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px; }

#header {
  color: lime;
  font-size: 3em;
  text-decoration: none; }

#content {
  width: 70%;
  margin: 0 auto;
  padding: 0;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }

#terminal {
  text-align: left; }

#terminalContent {
  margin: 0; }

#in {
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  font: inherit; }

footer {
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
  margin: 0;
  width: 98%;
  position: fixed;
  bottom: 0;
  color: #000000;
  text-align: right; }

.fancyLink {
  text-decoration: none;
  color: inherit; }
  .fancyLink:hover {
    color: #FFFFFF; }

#myPlayer, #audio {
  display: none; }
