@font-face {
  font-family: "Digital Tech";
  src: url("/resources/fonts/Digital Tech.otf") format("opentype");
  unicode-range: U+0031-0039; }

@font-face {
  font-family: "Digital Tech";
  src: url("/resources/fonts/Digital Tech.otf") format("opentype");
  unicode-range: U+0041-005A; }

@font-face {
  font-family: "Digital Tech";
  src: url("/resources/fonts/Digital Tech.otf") format("opentype");
  unicode-range: U+0061-007A; }

@font-face {
  font-family: "Teio";
  src: url("/resources/fonts/Teio.ttf") format("truetype"); }

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  text-align: center;
  font-family: 'Digital Tech';
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 5%;
  color: lime;
  background-color: black; }

#headerDiv {
  margin: 0 auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
  font-family: Teio;
  padding: 1em;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px; }

#header {
  color: lime;
  font-size: 3em;
  text-decoration: none; }

#content {
  width: 70%;
  margin: 0 auto;
  padding: 0;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }

#terminal {
  text-align: left; }

#terminalContent {
  margin: 0; }

#in {
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  font: inherit; }

footer {
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
  margin: 0;
  width: 98%;
  position: fixed;
  bottom: 0;
  color: #000000;
  text-align: right; }

.fancyLink {
  text-decoration: none;
  color: inherit; }
  .fancyLink:hover {
    color: #FFFFFF; }

#myPlayer, #audio {
  display: none; }
